<div class="stuck" style="z-index: 1" >
    <div class="main" style="margin-top: -50px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #7ec0ef;" >
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent" >                  
                    <form class="d-flex">
                        <!-- <button style="margin-left:400px;" class="logout" (click)="logout()" class="btn btn-outline-danger"style="margin-left:1150px; margin-top:35px;"
                            type="submit">Logout</button> -->
                            <a style=" margin-top:30px; margin: right 0%;" mat-raised-button routerLink="/productHome" target="_blank">back</a>
                    </form>
                </div>
            </div><br>
        </nav>
    </div>
</div>

<span style="margin-left:1150px; margin-top:35px;">
    <!-- <a style="margin-left: 20px;margin-top:10px;" mat-raised-button routerLink="/productHome" target="_blank">back</a> -->
    <div class="container" style=" border: 2px rgb(201, 36, 36) solid; margin-top: 10px; width: 700px; background-color: #eee;">
        <form [formGroup]="PinFrom" (ngSubmit)="checkPin()">
            <div class="form-outline mb-1 form-group">
                <h4 style="text-align: center;font-size: 15px; font-style: italic; color: #000;margin-top: 20px;">
                    Please enter pincode for checking product delivery on your address</h4>
<!--                     
                <label class="form-label" style="margin-left: 220px; font-size: 15px;text-decoration: underline;"
                    id=form3Example3cg> Enter pincode</label> -->
                <label  class="form-label" style="margin-left: 220px; font-size: 15px;" id=form3Example3cg >Enter Pincode<span class="required">*</span></label>
                    
                <input [(ngModel)]="pcode.pincode" formControlName="pincode" type="number"
                    style="width: 150px; margin-left:220px; text-decoration: underline;" required id="form3Exampl3cg"
                    name="email" />
                <span class="text-danger"
                    *ngIf="PinFrom.controls['pincode'].dirty && PinFrom.hasError('required','pincode') ||PinFrom.controls['pincode'].touched &&PinFrom.controls['pincode'].errors?.['required']">
                    Pincode is required</span>     
            </div>

            <div class="d-flex justify-content-center form-group">
                <button type="submit" style="width: 100px; margin-left:-80px;" [disabled]="!PinFrom.valid" mat-raised-button color="primary">check</button>
            </div>
        </form>
    </div>

<div class="container py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">Paymenty</h1>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" href="#credit-card"
                                    class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Credit Card
                                </a> </li>

                            <li class="nav-item"> <a data-toggle="pill" href="#net-banking" class="nav-link "> <i
                                        class="fas fa-mobile-alt mr-2"></i> Net Banking </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">

                            <div class="form-group"> <label for="username">
                                    <h6>Card Owner</h6>
                                </label> <input type="text" name="username" placeholder="Card Owner Name" required
                                    class="form-control "> </div>
                            <div class="form-group"> <label for="cardNumber">
                                    <h6>Card number</h6>
                                </label>
                                <div class="input-group"> <input type="text" name="cardNumber"
                                        placeholder="Valid card number" class="form-control " required>
                                    <div class="input-group-append"> 
                                        <span class="input-group-text text-muted"> 
                                            <i class="fab fa-cc-visa mx-1"></i>
                                            <i class="fab fa-cc-mastercard mx-1"></i>
                                            <i class="fab fa-cc-amex mx-1"></i> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group"> 
                                        <label>
                                            <span class="hidden-xs">
                                                <h6>Expiration Date</h6>
                                            </span>
                                        </label>
                                        <div class="input-group"> 
                                            <input type="number" placeholder="MM" name=""
                                                class="form-control" required> <input type="number" placeholder="YY"
                                                name="" class="form-control" required> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-4"> <label data-toggle="tooltip"
                                            title="Three digit CV code on the back of your card">
                                            <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                        </label> <input type="text" required class="form-control"> 
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer"> <button type="button" [class.bet]="pay" routerLink="/success"
                                    class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Payment </button>

                            </div>
                        </div> <!-- End -->
                        <!-- Paypal info -->
                        <div id="paypal" class="tab-pane fade pt-3">
                            <h6 class="pb-2">Select your paypal account type</h6>
                            <div class="form-group "> <label class="radio-inline"> <input type="radio"
                                        name="optradio" checked> Domestic </label> <label class="radio-inline">
                                    <input type="radio" name="optradio" class="ml-5">International </label></div>
                            <p> <button type="button" class="btn btn-primary "><i class="fab fa-paypal mr-2"></i>
                                    Log into my Paypal</button> </p>                                      
                            <p class="text-muted"> Note: After clicking on the button, you will be directed to a
                                secure gateway for payment. After completing the payment process, you will be redirected back
                                to the website to view details of your order. </p>
                        </div> <!-- End -->
                        <!-- bank transfer info -->
                        <div id="net-banking" class="tab-pane fade pt-3">
                            <div class="form-group "> <label for="Select Your Bank">
                                    <h6>Select your Bank</h6>
                                </label> <select class="form-control" id="ccmonth">
                                    <option value="" selected disabled>--Please select your Bank--</option>
                                    <option>Bank 1</option>
                                    <option>Bank 2</option>
                                    <option>Bank 3</option>
                                    <option>Bank 4</option>
                                    <option>Bank 5</option>
                                    <option>Bank 6</option>
                                    <option>Bank 7</option>
                                    <option>Bank 8</option>
                                    <option>Bank 9</option>
                                    <option>Bank 10</option>
                                </select> </div>
                            <div class="form-group">
                                <p> <button routerLink="/success" type="button" [class.bet]="pay"
                                        class="btn btn-primary "><i class="fas fa-mobile-alt mr-2"></i>
                                        Proceed Payment</button> </p>
                            </div>
                            <p class="text-muted">Note: After clicking on the button, you will be directed to a
                                secure
                                gateway for payment. After completing the payment process, you will be redirected
                                back
                                to
                                the website to view details of your order. </p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>