.login-dark .illustration {
    text-align: center;
    padding: 7px 0 10px;
    font-size: 50px;
    color: #2980ef;
}


.required {
    color: red;
  }
.password-div{
  position: relative;
}
  .eye-b {
  color: #ccc;
  position: absolute;
  top: 36px;
  right: 10px;
  }
